/* -g selector */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/*common layout */
.container{
    max-width: 1320px;
    margin:0 auto;
    border-radius: 10px !important;
}
.common-margin{
    margin: 120px auto;
}
/* .container-2{
    padding: 0 399px;
} */
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

/* common color */


/* common btn */


/* hero section css code */
.hero-header{
    width:100%;
    margin-top:50px;
    background-image: url("../resources/bannerImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px;
}
.hero-section h1{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top:16px;
}
.hero-section h3{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.bg-color{
    padding:177px 344px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); 
}
/* end hero section css */

/* start discount section */
.discount-offer{
    text-align: center;
}
.discount-offer h2{
    color: #F00;
font-family: Inter;
font-size: 88px;
font-weight: 700;
margin-bottom: 48px;
}
.discount-offer h4{
    color: #F00;
font-family: Inter;
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}
.discount-offer h3{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}
/* End discount css */
/* start midnight party css */

.mid-night-party{
    background-image: url('../resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-con{
    padding:67px 126px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}
.flex-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.night-party-text h2{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    margin-bottom:25px;
}
.night-party-text p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.night-party-text button{
    border:none;
    padding:48px 32px;
    background:transparent;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* end night party css */
/* start date and time css */
.datetime{
    padding:100px 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius:10px;
}
.datetime h3{
    color: #070211;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.datetime h3 span{
color: #F00;
font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}
.datetime button{
margin-top:64px;
padding:16px 32px;
color: #FFF;
font-family: Inter;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
border-radius: 8px;
background: #F00;
border:none;
}

/* End start date css */

/* start comming soon css */
.comming-soon-section{
display: flex;
justify-content: space-between;
align-items: center;
gap: 70px;
}
.box{
    width: 33.3%;
}
.text-header-part h2{
    color: #070211;
font-family: Merriweather;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.text-header-part h4{
    color: #F00;

font-family: Inter;
font-size: 24px;
font-weight: 500;
}
.text-header-part p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px;
}
.img-part img{
 
}
.img-header-part{
    height:393.3px;
    width:393.3px;
    border-radius: 50%;
    border: 15px solid #F00;
}
.img-text-header-part h2{
    color: #F00;
font-family: Inter;
font-size: 48px;
margin-bottom:16px;
font-weight: 700;
}
.img-text-header-part p{
    color: rgba(7, 2, 17, 0.60);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 160% */
margin-bottom: 43px;
}
/* End  comming soon css */